{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
    ],
  "rules": {
    "react/prop-types": 0,
    "react/display-name": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-empty-function": 0,
    "no-var": 1,
    "@typescript-eslint/ban-types": 0,
    "prefer-const": 0,
    "@typescript-eslint/no-inferrable-types":0,
    "prefer-spread":0,
    "@typescript-eslint/no-this-alias":0,
    "react/jsx-key": 0,
    "@typescript-eslint/prefer-as-const":0

  }
}
